.table th, .table tr td.dia{
	font-size: 20px;
}
.table .t th:nth-child(n+4) {
	font-size: 17px;
	line-height: 1;
}
.table tr:not(.bottom) td:not(.state).win{
	font-size: 22px;
	font-weight: normal;
	color: crimson;
}
.table tr:not(.bottom) td.win.state{
	font-size: 16px;
}

.table tr:not(.day):nth-child(even) td.dia{
	background-color: #e6f7fe;
}
.table tr:not(.day):nth-child(odd) td.dia{
	background-color: #f5f9fc;
}
.table tr:not(.day):nth-child(even) td.dia:nth-last-child(n+2){
	background-color: #fcf0f1;
}
.table tr:not(.day):nth-child(odd) td.dia:nth-last-child(n+2){
	background-color: #fffafa;
}
.table .h th:nth-child(20),
.table tr:not(.bottom):not(.djs) td:nth-child(4),
.table tr:not(.bottom):not(.djs) td:nth-child(24),
.table tr.djs td:nth-child(22),
.table tr.bottom td:nth-child(21){
	border-right: 2px solid #444444 !important;
}
.table tr td.dia div.one,.table tr td.dia div.zero{
	font-size: 32px;
	line-height: 1;
	margin: -2px;
	letter-spacing: -1px;
}
.table tr td.dia{	width:	45px;}
.table tr td.dia:nth-last-child(n+2){width:	40px;}
.table tr td.back{
	background-color: #FABEC3 !important;
}
.table tr td.dia div.one{
	color: crimson;
}
.table tr:not(.bottom) td.dia:nth-last-child(1) div{
	color: #000000;
	font-size: 28px;
	line-height: 1;
}
.table tr.bottom td.dia div.md {
    font-size: 19px;
}
.table tr.bottom td.dia div.lg {
    font-size: 18px;
}