.k12_logo{
	left: 335px;
}
.name{
	left: 445px;
}
.table tr:nth-child(even) td.dia{
	background-color: #fcf0f1;
}
.table tr:nth-child(odd) td.dia{
	background-color: #fffafa;
}
.table tr:nth-child(even) td.dia:nth-last-child(n+5){
	background-color: #e6f7fe;
}
.table tr:nth-child(odd) td.dia:nth-last-child(n+5){
	background-color: #f5f9fc;
}
.table tr:nth-child(even) td.dia:nth-last-child(n+17){
	background-color: #fcf0f1;
}
.table tr:nth-child(odd) td.dia:nth-last-child(n+17){
	background-color: #fffafa;
}

.table tr:not(.bottom) td:nth-child(2):not(.state),
.table tr:not(.bottom) td:nth-child(3):not(.state){
	color: #DC143C;
}
.table .h th:nth-child(12),.table .h th:nth-child(24),
.table tr:not(.bottom):not(.djs) td:nth-child(6),
.table tr:not(.bottom):not(.djs) td:nth-child(18),
.table tr:not(.bottom):not(.djs) td:nth-child(30),
.table tr.djs td:nth-child(2),
.table tr.djs td:nth-child(14),
.table tr.djs td:nth-child(26),
.table tr.bottom td:nth-child(13),
.table tr.bottom td:nth-child(25){
	border-right: 2px solid #444444 !important;
}
.table tr.bottom td:nth-child(1){
	font-size: 16px;
}
.table tr td.dia div.first,
.table tr td.dia div.second{
	margin: -2px;
	line-height: 1;
	font-size: 27px;
	color: black;
	letter-spacing: -1px;
}
.table tr td.dia{
	width: 35px;
}
.table tr td.dia:nth-last-child(n+4){
	width: 30px;
}

.table tr:not(.bottom) td.pro{
	color: black;	
	font-size: 24px;
}