.k3_logo{
	left: 270px;
}
.name{
	font-size: 28px;
	top: 21px;
	left: 360px;
}
.hot{
	font-size: 20px;
	border-top: 2px solid #444444;
}
.hot th:nth-child(2){
	font-size: 23px;
	font-weight: bolder;
}
.hot th:nth-child(1){
	font-family: "wr";
}
.t th {
    border-top: 1px solid #A9A9A9;
}
.append_border:after{
	top:46px;
	height: 76px;
}

.table tr:not(.day):nth-child(odd) td.dia{
	background-color: #f5f9fc;
}
.table tr:not(.day):nth-child(even) td.dia{
	background-color: #e6f7fe;
}
.table tr:not(.day):nth-child(odd) td.dia:nth-last-child(n+5){
	background-color: #fffafa;
}
.table tr:not(.day):nth-child(even) td.dia:nth-last-child(n+5){
	background-color: #f8e8e9;
}
.table tr:not(.day):nth-child(even) td.dia:nth-last-child(9){
	background-color: #e6f7fe;
}
.table tr:not(.day):nth-child(odd) td.dia:nth-last-child(9){
	background-color: #f5f9fc;
}


.table tr.h th:nth-child(6),.table tr.h th:nth-child(10),
.table tr td:nth-last-child(5),
.table tr td:nth-last-child(9),
.table tr td:nth-last-child(10),
.table tr td:nth-last-child(16){
	border-right: 2px solid #444444 !important;
}
.table tr.bottom td:nth-child(n+2){
	color: #000000;
}
.table tr td.dia{
	font-size: 22px;
	width:60px;
}
.table tr td.dia div.one,.table tr td.dia div.three{
	font-size: 31px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin: -2px;
}
.table tr td.dia div.two{
	font-size: 26px;
	margin: -2px;
}
.table tr.bottom td.dia div.md{	font-size: 18px !important;}
.table tr.bottom td.dia div.lg{	font-size: 16px !important;}
