.header_title{
	width: 356px;
	left: 340px;
	background: url(../../img/header/k3_form_title.png);
}
.table .h th:nth-child(6),.table .h th:nth-child(22),.table .h th:nth-child(28),
.table tr:not(.bottom):not(.djs) td:nth-child(4),
.table tr:not(.bottom):not(.djs) td:nth-child(10),
.table tr:not(.bottom):not(.djs) td:nth-child(26),
.table tr:not(.bottom):not(.djs) td:nth-child(32),
.table tr.djs td:nth-child(8),
.table tr.djs td:nth-child(24),
.table tr.djs td:nth-child(30),
.table tr.bottom td:nth-child(7),
.table tr.bottom td:nth-child(23),
.table tr.bottom td:nth-child(29){
	border-right: 2px solid #444444 !important;
}
.table tr td.kua{
	width: 28px;
}
.table tr td div.form{
	font-family: "wr";
	white-space:nowrap;
	font-size: 16px;
}
.table tr td.dia{
	width: 55px;
}
.table tr td.dia:nth-last-child(n+2){
	width: 29px;
}
.table tr td.dia:nth-last-child(n+8){
	width: 32px;
}
.table tr td.dia:nth-last-child(n+24){
	width: 29px;
}
.table tr td.dia div.one,.table tr td.dia div.two,.table tr td.dia div.kua{
	line-height: 1;
	padding: 3px;
	width: 21px;
	font-size: 22px;
	margin: auto;
}
.table tr.bottom td.dia div.md{
	font-size: 16px;
}
.table tr.bottom td.dia div.lg{
	font-size: 15px;
}